api-gateway/.idea
api-gateway/.mvn
api-gateway/target
api-gateway/*.iml

eureka-server/.idea
eureka-server/.mvn
eureka-server/target
eureka-server/*.iml

product-service/.idea
product-service/.mvn
product-service/target
product-service/*.iml


users-service/.idea
users-service/.mvn
users-service/target
users-service/*.iml


order-service/.idea
order-service/.mvn
order-service/target
order-service/*.iml